<div class="sidebar">
  <div class="logo">My School</div>
  <ul class="nav flex-column text-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/students/sections">Student Class Routine</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/students/examination-list">Exam Routine</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/teachers/sections">Teacher Class Routine</a>
    </li>
  </ul>
</div>
