/* sidebar.component.scss */
.sidebar {
  background-color: #293240;
  color: white;
  width: 330px;
  height: 572px;
  /*position: fixed;*/
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #FFA500;
}

.nav-link {
  color: #D9D9D9;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #1E242C;
  color: #FFA500;
}

.active {
  background-color: #1E242C;
  color: #FFA500;
}
